---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { GoogleAnalytics } from "astro-analytics";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <GoogleAnalytics id="G-H58VPTB7C0" />
  </head>
  <body>
    <Header />
    <main>
      <img src="/profile-image.jpg" alt="profile image" class="profile-image" />
      <h4>Hey there!</h4>
      <p>
        I'm Will, currently a Product Designer at New Visions for Public
        Schools, leading the design of a <a
          class="highlight"
          href="/work#new-visions-for-public-schools"
          >school management application</a
        >, working to improve equitable outcomes for students in NYC.
      </p>
      <p>
        Before this, I spent time:
        <ul>
          <li>
            Designing climate tech solutions at <a
              class="highlight"
              href="/work#upstream-tech">Upstream Teach</a
            >
          </li>
          <li>Designing and building a customer support chatbot</li> at <a
            href="/work#sage-talk"
            class="highlight">SageAI</a
          >
          <li>
            Leading the design of content management systems and online
            education platforms for <a href="/work#questex" class="highlight"
              >Questex.</a
            >
          </li>
        </ul>
      </p>
      <hr />
      <p>
        If you'd like to chat, send me a <a href="mailto:willmerchan@gmail.com"
          >message!</a
        >
      </p>
    </main>

    <style>
      .profile-image {
        width: 120px;
        border-radius: 8px;
        border: 3px solid var(--gray-500);
        margin-bottom: 4px;
      }
    </style>
  </body>
</html>
