---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="/profile-image.jpg" alt="profile image" class="profile-image">
			<h4>Hey there!</h4>
			<p>
				I'm Will, currently a Product Designer at New Visions for Public Schools, leading the design of a <a class="highlight" href="https://portal.newvisions.org/">school management application</a>, working to improve equitable outcomes for students in NYC.
			</p>
			<p>
				Before this, I spent time:
				<ul>
					<li>Designing climate tech solutions at <a class="highlight" href="https://www.upstream.tech/">Upstream Teach</a></li>
					<li>Designing and building a customer support chatbot</em> at <a href="https://www.producthunt.com/products/sage-talk" class="highlight">SageAI</a></li>
					<li>Leading the design of content management systems and online education platforms for <a href="https://questex.com/" class="highlight">Questex.</a></li>
					</ul> 
			</p>
			<hr/>
			<p>If you'd like to chat, send me a <a href="mailto:willmerchan@gmail.com">message!</a></p>
			
		</main>
	</body>
	<style>
		.profile-image {
			width: 120px;
			border-radius: 8px;
			border: 3px solid #546170;
			margin-bottom: 4px;;
		}
	</style>
</html>
