---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { GoogleAnalytics } from "astro-analytics";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <GoogleAnalytics id="G-H58VPTB7C0" />
  </head>
  <body>
    <Header />
    <div class="header-container">
      <img src="/home-header.png" alt="header image" class="header-image" />
    </div>
    <main>
      <h4>Hey there!</h4>
      <p>
        I'm Will, a seasoned product designer with over a decade of experience.
        I am passionate about creating intuitive, user-centered designs that
        solve real-world problems. My career has been dedicated to transforming
        complex ideas into accessible, beautiful, and functional products that
        delight users and drive business success.
      </p>
      <p>
        I have had the privilege of working on a diverse range of projects
        across different industries, which has given me a broad perspective and
        a versatile skill set. My design philosophy is rooted in empathy and
        innovation, always striving to understand the user's needs and pushing
        the boundaries of what’s possible.
      </p>
      <p>
        Some of the work I'm proud of:
        <ul>
          <li>
            Building a school management app at <a
              class="highlight"
              href="/work#new-visions-for-public-schools"
              >New Visions for Public Schools</a
            >
          </li>
          <li>
            Designing climate tech solutions at <a
              class="highlight"
              href="/work#upstream-tech">Upstream Teach</a
            >
          </li>
          <li>
            Developing a customer support chatbot at <a
              href="/work#sage-talk"
              class="highlight">SageAI</a
            >
          </li>
          <li>
            Leading the design of content management systems and online
            education platforms at <a href="/work#questex" class="highlight"
              >Questex.</a
            >
          </li>
        </ul>
      </p>
      <hr />
      <p>
        If you'd like to chat, send me a <a href="mailto:willmerchan@gmail.com"
          >message!</a
        >
      </p>
    </main>

    <style>
      .profile-image {
        width: 120px;
        border-radius: 8px;
        border: 3px solid var(--gray-500);
        margin-bottom: 4px;
      }
      .header-container {
        margin: 64px auto 0;
        display: block;
        width: 100%;
        max-width: 1400px;
        padding: 0 1em;
        box-sizing: border-box;
      }
      .header-image {
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      main {
        margin-top: 0;
      }
    </style>
  </body>
</html>
