---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<a  class="logo" href="/"><img src="/wm-wordmark.svg" alt="Will Merchan Logo" class="wordmark"></a>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/work">Work</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		border-bottom: 1px solid rgba(var(--black), 10%)
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	.logo {
		margin: 0 !important;
		padding: 0 !important;
		border-bottom: unset !important;
	}
	.wordmark {
		border-radius: unset;
		width: 300px;
	}
  
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
